<!-- Footer -->
<footer class="font-small Background">

  <!-- Footer Links -->
  <div class="container text-md-left">

    <!-- Grid row -->
    <div class="row">

      <div class="col col-lg-2">
        <h5 class="Categories">Categories</h5>
        <p class="About-us-Testimonial">
          About us Testimonials Contact Journal Privacy Policy
        </p>
      </div>

      <div class="col col-lg-2">
        <h5 class="Partners">Partners</h5>
        <p class="Support-Shipping-R">
          Support Shipping & Returns Size Guide Product Care
        </p>
      </div>

      <div class="col col-lg-3">
        <h5 class="Contact-us">Contact us</h5>
        <p class="A-Pagoda-St-TANGS">
          26A Pagoda St, TANGS, Singapore,058187 +65 6221 5462
        </p>
      </div>

      <div class="col col-lg-5">
        <h5 class="Subscribe-to-newslet">Subscribe to newsletter</h5>

        <input class="Select-Default-bg" placeholder="ENTER YOUR EMAIL">

        <a class="M">
          <a class="Show-Men ">Subscribe</a>
        </a>

        <br>
        <img class="Facebook-Icon" src="https://i.hizliresim.com/Q2P4Gv.png" >
        <img class="Twitter-Icon " src="https://i.hizliresim.com/pn5mVJ.png" >

      </div>
      
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 -Copyright-Matter-P ">
    <a> © Copyright Matter PTE LTD  2017</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->