.alert-darkx {
  background-color: #33333a;
  height: 40px;
  text-align: center !important;
}

.Free-shipping-for-or {
  width: 212px;
  height: 14px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff !important;
}
